
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

*.exe
*.dll
*.obj
*.pch
*.pdb
*.ipch
*.ilk
*.log
*.tlog
*.lastbuildstate
*.idb
*.opensdf
*.sdf
*.vcxproj.user
*.VC.db
*.VC.opendb

Debug/
Release/
x64/
x86/
